<!DOCTYPE html>
<html>
  <head>
    <title>Hanami Blog</title>
    <%= favicon %>
    <%= stylesheet 'application' %>
  </head>
  <body>
    <div class="container">
      <div class="memory">
        <p>
          Memory Used: <strong><%= `ps -o rss= -p #{Process.pid}`.to_i / 1024 %> MBs</strong>
        </p>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
